@import '../../config/layout.scss';

.item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: $items-gap;
  margin-bottom: 72px;
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16px;
}

.description {
  font-size: 14px;
  height: 100%;
  margin: 8px 0;
}

.purchaseWrap {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
  font-size: 14px;
}