@import '../../config/layout.scss';

.section {
  padding-right: 80px;
}

.mainWrap {
  margin-bottom: 200px;
}

.mainImageWrap {
  position: relative;
}

.mainImage {
  display: block;
  width: 100%;
  cursor: pointer;
}

.subWrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 200px;
}

.subImageWrap {
  position: relative;
}

.subImage {
  width: 100%;
  display: block;
  cursor: pointer;
}

.itemWrap {
  display: grid;
  gap: $items-gap;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  margin-bottom: 32px;
}

@media (max-width: 980px) {
  
}