.wrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    margin-bottom: 8px;
  }
}

.infoText {
  font-size: 14px;
}

.options {
  width: 218px;
  display: flex;
  justify-content: center;
}

.option {
  font-size: 14px;
  cursor: pointer;
  color: gray;

  &:hover {
    color: black;
  }
}

