.mainWrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.mainBumper {
  flex-shrink: 0;
  height: 80px;
}

.main {
  flex-grow: 1;
  padding: 8px;
  background-color: whitesmoke;
}