@import '../config/layout.scss';

.screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-size: cover;
  background-position: center center;
}

.screenBumper {
  flex-shrink: 0;
  height: $pc-header-height;
}

.mainWrap {
  flex-grow: 1;
  display: grid;
  grid-template-columns: $left-nav-width 1fr;
  // background-color: whitesmoke;
}

.main {
  padding: 8px 32px 0 0;
}

@media (max-width: 650px) {
  .screenBumper {
    height: $mb-header-height;
  }

  .mainWrap {
    grid-template-columns: 1fr;
  }
  
  .mainBumper {
    display: none;
  }
  
  .main {
    padding: 24px 32px 0 32px;
  }
}