@import '../config/layout.scss';

.screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-size: cover;
  background-position: center center;
}

.screenBumper {
  flex-shrink: 0;
  height: $pc-header-height;
}

.mainWrap {
  flex-grow: 1;
  display: flex;
  // background-color: whitesmoke;
}

.main {
  width: 100%;
  padding: 8px 32px 0 0;
}