.editor {
  display: flex;
  flex-direction: column;
}

.li {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 8px;
}

.textInput {
  padding: 8px;
  font-size: 16px;
}

.description {
  height: 160px;
  padding: 8px;
  font-size: 16px;
}

.plusButton {
  cursor: pointer;
}

.buttonWrap {
  display: flex;
  justify-content: center;
}