.imageViewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
  cursor: pointer;
}