@import '../../config/layout.scss';

.item {
  margin-bottom: 72px;
}

.imageWrap {
  position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
  width: 100%;
  padding-bottom: 120%; /* 16:9 비율 */
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%; /* 부모에 맞게 꽉 채운다. */
  height: 100%;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.04);
  }
}

.text {
  margin-top: $items-gap;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

@media (max-width: 650px) {
  .item {
    margin-bottom: 24px;
  }
}