.navWrap {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 240px;
}

.nav {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 6px rgba(0, 0, 0, 0.05);
}

.xButton {
  position: absolute;
  top: 24px;
  right: 32px;
  cursor: pointer;
  font-size: 14px;
}

.ul {
  padding: 24px 32px;
  font-size: 14px;
}

.li {
  margin-bottom: 8px;
}