@import '../common/variables.scss';

.nav {
  position: fixed;
  width: $left-nav-width;
  padding-top: 8px;
  // background-color: white;
}

.ul {
  padding-left: 32px;
  font-size: 14px;
}

.li {
  margin-bottom: 8px;
}

@media (max-width: 670px) {
  .nav {
    display: none;
  }
}