@import '../../config/layout.scss';

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: $pc-header-height;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-weight: 200;
}

.bars {
  display: none;
}

.ul {
  position: absolute;
  top: 16px;
  right: 32px;
  display: flex;
  font-size: 14px;
}

.li {
  margin-left: 24px;
}

@media (max-width: 650px) {
  .header {
    height: $mb-header-height;
  }

  .title {
    font-size: 22px;
  }

  .bars {
    display: block;
    margin-right: 32px;
    z-index: 1;
    cursor: pointer;
    font-size: 14px;
  }

  .ul {
    display: none;
  }
}